#calculator {
    width: 600px;
    background-color: #161516;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: sans-serif;
    margin: auto;
    border-radius: 5%;
  }
  
  #display {
    width: 95%;
    height: 50px;
    margin-bottom: 10px;
    background-color: #f7ecec;
    border: 5px solid #f0e4e4;
    text-align: right;
    padding: 8.5px;
    box-shadow: #ccc;
    font-size: 10 em;
    border-radius: 10%;
  }
  #display:hover{
    background-color: #f3db92
  }
  
  button {
    width: 100px;
    height: 100px;
    background-color: #8d7e7e;
    border: 5px solid #ccc;
    font-size: 1.2em;
    margin: 10px;
    float: middle;
    box-sizing: content-box;
    border-radius: 10%;
  }
  
  button:hover {
    background-color: #85ebf7;
  }
  
  button#clear {
    width: 100px;
    background-color: #f00;
    color: #fff;
  }
  
  button#clear:hover {
    background-color: rgb(45, 42, 42);
  }